.divider {
  border: 0;
  height: 3px;
  margin: 2rem 0;
}

.divider-purple {
  background: linear-gradient(
    to right,
    transparent,
    var(--color-primary-dark),
    transparent
  );
}

.divider-yellow {
  background: linear-gradient(
    to right,
    transparent,
    var(--color-highlight),
    transparent
  );
}
