.main-section {
  text-align: center;
  padding: 50px 20px;
}
.main-section-title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: var(--color-primary-dark);
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 0.9;
}

.main-section-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
  margin-top: 6px; /* reduced vertical spacing */
  margin-bottom: 4px; /* keeps slight separation */
  line-height: 1.2; /* tighter line rhythm */
}
.main-section-description {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--color-text);
  max-width: 900px;
  margin: 20px auto 0 auto;
  line-height: 1.6;
}
