.meganTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 77);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.globalContainer {
  padding: 5px 20px;
  background-color: #dde6f3;
  height: 100vh;
}
