.right-panel {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
}

/* Let it fill screen on smaller devices */
@media (max-width: 1024px) {
  .right-panel {
    width: 100%;
    min-height: 80vh;
  }
}
